body {
    background-color: black;
}

h1 {
    color: pink;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

a {
    background-color: aqua;
    stroke: black;
    color: black;
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}